@page "/"

<div class="container">
    <div class="todo-app">
        <div class="app-title">
            <h2>To-do app</h2>
            <i class="fa-solid fa-book-bookmark"></i>
        </div>
        <div class="rowtodo">
            <input type="text" id="input-box" placeholder="add your tasks">
            <button>Add</button>
        </div>
        <ul id="list-container">
           <li>Test</li>
            <li>Test</li>
             <li>Test</li>
              <li>Test</li>

        </ul>
    </div>
</div>







